<!DOCTYPE html>
<html lang="en">
<head>{{template "head" .}}</head>
<body>
{{template "site-header" .}}
<section class="introduction">
    <h1 class="h1">Sessions Control</h1>
    <p>This dashboard allows the control of the Pepper robot through the local network simply by clicking corresponding
        buttons, either <em>questions</em>, or <em>positive answers</em>, or <em>negative answers</em>. On the right
        side, there is available <em>the general motion library</em>, so a user can initiate any movement at any time.
    </p>
</section>
<main class="sessions-control">
    <section class="sessions">
        <div class="mb2">
            <h2 class="h2 mb1">{{if .currentSessionName}}{{.currentSessionName}}{{else}}Choose a session{{end}}</h2>
            <select name="sessions" id="sessionList" class="">
                <option value="">Please, select the session</option>
                {{range .sessions}}
                    <option value="{{.ID}}" {{if eq .ID $.currentSessionID}}selected{{end}}>{{.Name}}</option>
                {{end}}
            </select>
        </div>

        <section class="session">
            {{range .sessions}}
                {{if eq .ID $.currentSessionID}}
                    {{$sessionID := .ID}}
                    {{range .Items}}
                        <div class="session-item" id="session-item-{{.ID}}" data-itemid="{{.ID}}">
                            <div id="question-{{$sessionID}}.{{.ID}}" class="question" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                 data-type="question">
                                <p class="h6 bold caps" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                   data-type="question">Question {{.ID}}</p>
                                <div data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                     data-type="question">
                                    <p class="h2 mb0" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                       data-type="question">{{.Question.Phrase}}</p>
                                    <p class="h6" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                       data-type="question"><span class="bold">audio</span>: {{.Question.AudioFilePath}}
                                        <br/><span class="bold">motion</span>: {{.Question.MotionName}}{{if .Question.MotionDelay}} <span class="bold">with delay</span> of {{.Question.MotionDelay}}{{end}}</p>
                                </div>
                            </div>
                            <div class="answers">
                                <div id="positive-answer-{{$sessionID}}.{{.ID}}" class="positive-answer" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                     data-type="positive-answer">
                                    {{if .PositiveAnswer.Phrase}}
                                    <p class="h3 mb0 positive" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                       data-type="positive-answer">{{.PositiveAnswer.Phrase}}</p>
                                    {{end}}
                                    <p class="h6" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                       data-type="positive-answer">{{if .PositiveAnswer.AudioFilePath}}audio: {{.PositiveAnswer.AudioFilePath}}
                                        <br/>{{end}}{{if .PositiveAnswer.MotionName}}motion: {{.PositiveAnswer.MotionName}}{{end}}</p>
                                </div>
                                <div id="negative-answer-{{$sessionID}}.{{.ID}}" class="negative-answer" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                     data-type="negative-answer">
                                    {{if .NegativeAnswer.Phrase}}
                                    <p class="h3 mb0 negative" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                       data-type="negative-answer">{{.NegativeAnswer.Phrase}}</p>
                                    {{end}}
                                    <p class="h6" data-sessionid="{{$sessionID}}" data-itemid="{{.ID}}"
                                       data-type="negative-answer">{{if .NegativeAnswer.AudioFilePath}}audio: {{.NegativeAnswer.AudioFilePath}}
                                        <br/>{{end}}{{if .NegativeAnswer.MotionName}}motion: {{.NegativeAnswer.MotionName}}{{end}}</p>
                                </div>
                            </div>
                        </div>
                    {{end}}
                {{end}}
            {{end}}
        </section>

        <form action="/voice" method="post" style="display: none;">
            <div class="field">
                <label for="phrase">Phrase</label>
                <input id="phrase" name="phrase" type="text">
            </div>
            <div class="field">
                <input type="submit" value="Send"/>
            </div>
        </form>
    </section>
    <aside>
        <h2 class="h2">Motion Library</h2>
    </aside>
</main>
{{template "body-bottom" .}}
</body>
</html>