{{define "site-header"}}
    <header class="site-header">
        <nav class="site-navigation">
            <ul class="list-reset">
                <li><span class="logo bold h4 caps"><a href="/" title="Home">Pepper</a></span></li>
                {{range .siteMenu}}
                    <li><a href="{{.Link}}" class="{{if .IsActive}}active{{end}}">{{.Title}}</a></li>
                {{end}}
            </ul>
        </nav>
        <nav class="user-navigation">
            <ul class="list-reset">
                {{range .userMenu}}
                    <li><a href="{{.Link}}" class="{{if .IsActive}}active{{end}}">{{.Title}}</a></li>
                {{end}}
            </ul>
        </nav>
    </header>
{{end}}